.App {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: white;
  padding: 40px;
  min-width: 340px;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.signout-btn {
  padding: 10px 20px;
  background-color: #047d95;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.signout-btn:hover {
  background-color: #035f6f;
}
